# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
 nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo